version: "3.8"

services:
  db:
    image: postgres:16-alpine
    container_name: youexpress_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: youexpress_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: youexpress_api
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      DB_USER: postgres
      DB_PASSWORD: password
      DB_NAME: youexpress_db
      DATABASE_URL: postgresql://postgres:password@db:5432/youexpress_db
    depends_on:
      - db

volumes:
  postgres_data:
